body{
	background: #a3a3a3;
	max-width: 900px;
	text-align: center;
	margin: auto;
}
#title, .subtitle, .post_title{
	color: brown;
	font-weight: bold;
	font-size: 25px;
	text-transform: uppercase;
}
.post_title{
	font-size: 16px;
	font-family: Comic Sans;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
	text-decoration: overline underline;
	border-radius: 5px;
}
.post{
	background: gray;
	padding: 15px;
	border: 3px solid #000;
	margin-bottom: 10px;
}
.box_footer{
	background: green;

}
.post_content{
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
}
.post_image{
	margin-bottom: 10px;
	border-radius: 50%;
}
.album{
	margin-bottom: 10px;
}
.contact_list{
	list-style-type: none;
	padding-left: 15px;
}
.contact_list li a{
	text-decoration: none;
}
